<h1>Angular Learning</h1>
<a routerLink="ViewEmpoloyee" routerLinkActive="active">View Employee</a>
<a routerLink="Employee" routerLinkActive="active">Employee</a>
<a routerLink="EditEmployee" routerLinkActive="active">Edit Employee</a>
<a routerLink="QuantityIncrement" routerLinkActive="active">Quantity Increment</a>
<a routerLink="EditEmployeeReactive" routerLinkActive="active">Edit Employee- Reactive form</a>
<a routerLink="UserDetails" routerLinkActive="active">User Details</a>
<button type="button" (click)="logout()"> Log Out </button>
<hr />
<router-outlet></router-outlet>
